.container {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
#sheet_url {
  margin-bottom: 20px;
}
#orders_tab {
  margin-bottom: 20px;
}
#paid_orders_tab {
  margin-bottom: 20px;
}
.btn-start {
  width: 150px;
  margin-top: 20px;
}